@import url("https://use.typekit.net/rio7emu.css");

:root {
    --main-color: #333333;
    --main-color-darker: #2f2f2f;
    --main-color-lighter: #5B5A5D;
    --standard-spacing: 15px 10vw;
    --seconday-color: #FFCE00;
    --seconday-color-darker: #eec200;
    --blue-color: #00BDFF;
    --green-color: #7DC582;
    --border-color: #5f5f5f;
}
/* ALGEMEEN */

body {
    font-family: raleway, sans-serif;!important;
    background-color: var(--main-color);
}

h1,h2,h3,h4,h5 {
    font-family: ff-basic-gothic-pro, sans-serif;!important;
}

.background-home {
    background-image: url('../images/background-home.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.background-diensten {
    background-image: url('../images/background-diensten.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.background-contact {
    background-image: url('../images/background-contact.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1,h2,h3,h4,h5,p,label,i {
    color: #f1f1f1;
}

.reset {
    color: black;
}

.btn-primary {
    background-color: var(--seconday-color);
}

.btn-primary:focus, .btn-primary:active, .btn-primary:hover {
    background-color: var(--seconday-color-darker) !important;
    outline: none;
    box-shadow: none !important;
}

.fab {
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

footer .fab {
    padding: 0;
}

hr {
    border-color: var(--border-color);
    margin-bottom: 0;
}

a i:hover {
    color: var(--blue-color);
}

a {
    color: var(--seconday-color); !important;
}

a:hover {
    color: var(--seconday-color-darker); !important;
}

/* NAVIGATION */

.smart-scroll{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.scrolled-down{
    transform: translateY(-100%); transition: all 0.3s ease-in-out;
    -webkit-transform: translateY(-100%); transition: all 0.3s ease-in-out; /* Safari & Chrome */
    -moz-transform: translateY(-100%); transition: all 0.3s ease-in-out; /* Firefox */
    -ms-transform: translateY(-100%); transition: all 0.3s ease-in-out; /* Internet Explorer */
    -o-transform: translateY(-100%); transition: all 0.3s ease-in-out; /* Opera */
}
.scrolled-up{
    transform: translateY(0); transition: all 0.3s ease-in-out;
    -webkit-transform: translateY(0); transition: all 0.3s ease-in-out; /* Safari & Chrome */
    -moz-transform: translateY(0); transition: all 0.3s ease-in-out; /* Firefox */
    -ms-transform: translateY(0); transition: all 0.3s ease-in-out; /* Internet Explorer */
    -o-transform: translateY(0); transition: all 0.3s ease-in-out; /* Opera */
}

nav {
    background: var(--main-color-darker);
    z-index: 99;
    color: white;
}

.btn {
    border: none;
    border-radius: 0;
}

a#active.nav-link{
    color: var(--seconday-color);
}

.navbar-toggler {
    cursor: pointer;
    border: none;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

/* LOCATION INDICATOR BAR */

a.nav-indicator-link{
    color: var(--seconday-color); !important;
}

a.nav-indicator-link:hover {
    color: var(--seconday-color-darker); !important;
}

.indicator {
    color: #c8c8c8;
}

/* FOOTER */

footer {
    background-color: var(--main-color-darker);
    color: white;
    border-top: 1px solid var(--border-color);
}

footer a, .alt-a {
    color: white;
}

footer a:hover, .alt-a:hover {
    color: #c3c3c3;
    text-decoration: none;
}

.footer-copyright {
    background-color: var(--main-color-darker);
    color: #52b8d2;
}

/* HOMEPAGE */
.masthead {
    height: 50vh;
    min-height: 200px;
    width: 100%;
    object-fit: cover;
}

.masthead.about {
    object-position: 56% 50%;
}

.card-img-top {
    min-height: 521px;
    object-fit: cover;
    border: none;
}

.card {
    border: none;
    border-radius: 0;
    background: none;
    color: white;
}

.card-img-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: rgba(0, 0, 0, 0.60);
    cursor: pointer;
}

.overlay-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.card:hover .card-img-overlay {
    opacity: 1;
}


.card-header {
    color: white;
}

.waarde img {
    height: 150px;
}

.lighter-background {
    background-color: var(--main-color-lighter);
}

.final-image {
    height: 70vh;
    object-fit: cover;
}

.textbox {
    background-color: #ececec;
    transform: translateX(-25%);
    margin-top: 60%;
}

@media only screen and (max-width: 991px) {
    .textbox {
        transform: translateY(-45%);
        margin: 0 auto;
        width: 80%;
        text-align: center;
    }

    #textbox-btn {
        padding: .6rem!important;
        margin: 0 auto;
    }

    #interesse {
        display: block;
        text-align: center;
    }

    #interesse-container {
        padding-top: 0!important;
        transform: translateY(-35%);
    }

    .background-home,.background-diensten,.background-contact,.background-home {
        background-image: none;
    }
}

@media only screen and (min-width: 991px) {
    #interesse {
        display: flex;
    }
}

/* ABOUT */
@media only screen and (max-width: 991px) {
    .bollen-image {
        max-width: 70%;
        object-fit: scale-down;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 992px) {
    .bollen-image {
        max-width: 100%;
        object-fit: scale-down;
    }
}

/* DIENSTEN */
.diensten-image {
    height: 40vh;
    object-fit: cover;
}

.diensten-textbox-blue {
    background-color: #ececec;
    transform: translateX(-25%);
    margin-top: 25%;
    background: var(--blue-color);
}

.diensten-textbox-green {
    background-color: #ececec;
    transform: translateX(-25%);
    margin-top: 25%;
    background: var(--green-color);
}

@media only screen and (max-width: 991px) {
    .diensten-textbox-blue, .diensten-textbox-green {
        transform: translateY(-35%);
        margin: 0 auto;
        width: 60%;
        text-align: center;
    }
}

/* DIENSTEN DETAIL */
.box-blue {
    background-color: var(--blue-color);
}

.box-green {
    background-color: var(--green-color);
}

.box-yellow {
    background-color: var(--seconday-color);
}

/* PORTFOLIO */
.portfolio-image {
    height: 500px;
    object-fit: cover;
}

.portfolio-image:hover {
    transition: 0.3s;
    opacity: 0.7;
}

/* CONTACT */
#map {
    height: 400px;
    width: 100%
}

#form-input, #form-area {
    box-shadow: none !important;
    border-radius: 0;
    resize: none;
}

#form-input:focus, #form-area:focus {
    border-color: var(--seconday-color);
}